/* Custom CSS for Luthfi Portofolio */
@font-face {
    font-family: 'gotham_extralightregular';
    src: url('../fonts/gotham-xlight-webfont.eot');
    src: url('../fonts/gotham-xlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-xlight-webfont.woff2') format('woff2'),
         url('../fonts/gotham-xlight-webfont.woff') format('woff'),
         url('../fonts/gotham-xlight-webfont.ttf') format('truetype'),
         url('../fonts/gotham-xlight-webfont.svg#gotham_extralightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham-book-webfont.eot');
    src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham-book-webfont.woff') format('woff'),
         url('../fonts/gotham-book-webfont.ttf') format('truetype'),
         url('../fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


header{
	background-color: #fff;
    font-family: 'gotham_extralightregular';

}

.navbar-default{
	background-color: #fff;
	border:none;
	color: #1c1c1c;
}

.navbar-default .navbar-nav>li>a{
	font-family: 'gotham_extralightregular';
	color: #888;
	font-size: 15px;
}

.navbar-default .navbar-nav > li {
	padding:0;

}

.navbar-default .navbar-nav > li > a:hover{
	-webkit-box-shadow:inset 0px 0px 0px 1px #ddd;
    -moz-box-shadow:inset 0px 0px 0px 1px #ddd;
    box-shadow:inset 0px 0px 0px 1px #ddd;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.fix-menu{
	width: 90%;
	margin: auto;
}

.header-container{
	margin: auto;
	width: 100%;
}

.home { 
	background:url(../img/header.jpg) 50% 0 fixed no-repeat; 
	height: auto;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	color: #fff;
	padding-top: 14%;
	padding-bottom: 30%;
}


.perkenalan{
	font-weight: normal;
	font-size: 20px;
	font-family: 'gotham_extralightregular';
	text-align: center;
}

.tebal{
	font-weight: bolder;
}

.logo-small{
	margin-top: 1em;
}

.navbar-collapse.collapse{
	margin-top: 1.5em;
}

.section-title{
	text-align: center;
	font-family: 'gotham_extralightregular';
	padding-top: 2em;
}

.section-title h2{
	font-size: 26px;
}
.whatido{
	padding-bottom: 5em;
}

.whatido img{
	width: 170px;
	height:auto;
	margin:auto;
	margin-top: 3.5em;
	margin-bottom: 2em;
}	

.whatido img:hover{
	-webkit-animation:spin 0.5s linear ;
    -moz-animation:spin 0.5s linear ;
    animation:spin 0.5s linear ;
    -webkit-transition-timing-function: linear;

}

.whatido p{
	text-align: center;
	width: 90%;
	color: #848484;
	line-height: 30px;
	font-size: 15px;
	font-family: 'gotham_bookregular';


}

.whatido h3{
	text-align: center;
	font-family: 'gotham_extralightregular';
	color: #5d5d5d;
}

.works{
	width: 100%;
	height: auto;
	background-color: #dddddd;
	padding-bottom: 4em;
}

.works-inside{
	background-color: #fff;
	width: 300px;
	margin-top: 4em;
}


.works-inside img{
	width: 300px;
	height: auto;
}

.works-inside h3{
	font-family: 'gotham_extralightregular';
	padding-left: 10px;
	padding-bottom: 0;
	margin-bottom: -5px;
	margin-top: 10px;
	font-size: 20px;
}


.works-inside p{
	padding: 10px;
	font-family: 'gotham_bookregular';
	font-size: 14px;
	color: #838383;

}



@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }