/* Custom CSS for Luthfi Portofolio */
@font-face {
    font-family: 'gotham_extralightregular';
    src: url('../fonts/gotham-xlight-webfont.eot');
    src: url('../fonts/gotham-xlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-xlight-webfont.woff2') format('woff2'),
         url('../fonts/gotham-xlight-webfont.woff') format('woff'),
         url('../fonts/gotham-xlight-webfont.ttf') format('truetype'),
         url('../fonts/gotham-xlight-webfont.svg#gotham_extralightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham-book-webfont.eot');
    src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham-book-webfont.woff') format('woff'),
         url('../fonts/gotham-book-webfont.ttf') format('truetype'),
         url('../fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

header{
	background-color: #fff;
    font-family: 'gotham_extralightregular';

}



.navbar-default{
	background-color: #fff;
	border:none;
	color: #1c1c1c;
}

.navbar-default .navbar-nav>li>a{
	font-family: 'gotham_extralightregular';
	color: #888;
	font-size: 15px;
}

.navbar-default .navbar-nav > li {
	padding:0;

}

.navbar-default .navbar-nav > li > a:hover{
	-webkit-box-shadow:inset 0px 0px 0px 1px #ddd;
    -moz-box-shadow:inset 0px 0px 0px 1px #ddd;
    box-shadow:inset 0px 0px 0px 1px #ddd;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.header-container{
	margin: auto;
	width: 100%;
}

.home { 
	
	height: auto;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	color: #fff;
	padding-top: 14%;
	padding-bottom: 30%;
}


.perkenalan{
	font-weight: normal;
	font-size: 20px;
	font-family: 'gotham_extralightregular';
	text-align: center;
}

.tebal{
	font-weight: bolder;
}

.logo-small{
	margin-top: 1em;
}

.navbar-collapse.collapse{
	margin-top: 1.5em;
}

.section-title{
	text-align: center;
	font-family: 'gotham_extralightregular';
	padding-top: 2em;
}

.section-title h2{
	font-size: 26px;
}
.whatido{
	padding-bottom: 5em;
}

.whatido img{
	width: 170px;
	height:auto;
	margin:auto;
	margin-top: 3.5em;
	margin-bottom: 2em;
}	

.whatido img:hover{
	-webkit-animation:spin 0.5s linear ;
    -moz-animation:spin 0.5s linear ;
    animation:spin 0.5s linear ;
    -webkit-transition-timing-function: linear;

}

.whatido p{
	text-align: center;
	width: 90%;
	color: #848484;
	line-height: 30px;
	font-size: 15px;
	font-family: 'gotham_bookregular';


}

.whatido h3{
	text-align: center;
	font-family: 'gotham_extralightregular';
	color: #5d5d5d;
}

.works{
	width: 100%;
	height: auto;
	background-color: #dddddd;
	padding-bottom: 4em;
}
.section-title {
	text-transform: uppercase;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.item {
    width:100%;
    height:100%;
}
/* content styles */
.item {
	display:table;
}
.content {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.works-inside{
	 /* reset the text-align */
	text-align:left;
	background-color: #fff;
	width: 300px;
	margin-top: 4em;
}


.works-inside img{
	width: 300px;
	height: auto;
}

.works-inside h3{
	font-family: 'gotham_extralightregular';
	padding-left: 10px;
	padding-bottom: 0;
	margin-bottom: -5px;
	margin-top: 10px;
	font-size: 20px;
}


.works-inside p{
	padding: 10px;
	font-family: 'gotham_bookregular';
	font-size: 14px;
	color: #838383;

}

.aboutmeWrite{
	background: #ff8f00;
	width: 80%;
	font-size: 16px;
	line-height: 30px;
	color: #fff;
	font-family: 'gotham_bookregular';
	padding: 2em;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin-left: 20px;

}

.myskill{
	background: #fff;
	width: 87%;
	font-size: 16px;
	line-height: 30px;
	color: #fff;
	font-family: 'gotham_bookregular';
	padding: 2em;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin-left: -10px;

}

.aboutme {
	padding-bottom: 30px;
}
.aboutmePic {
	border-right:1px solid #ddd; 
}
.aboutmeWrite h2{
	color: #fff;
	font-family: 'gotham_extralightregular';
	font-size: 22px;
	margin-top: 0;
}

.aboutme h3{
	font-family: 'gotham_extralightregular';
	text-align: right;
}

.arrow{
	background: url('../img/arrow.png');
	width: 27px;
	height: 31px;
	position: absolute;
	z-index: 0;
	margin-left: -45px;
}

.bottom-words{
	width: 100%;
	margin: 0;
	height: 270px;
	position: relative !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.words{
	font-weight: normal;
	font-size: 25px;
	font-family: 'gotham_extralightregular';
	text-align: center;
	color: #fff;
}

.words p {
	padding-top: 3em;
}

.footer{
	background: #202020;
	height: auto;
	padding-bottom: 3em;
}

.footer h3{
	text-align: center;
	font-family: 'gotham_extralightregular';
	color: #ebebeb;
	padding-top: 12%;
}

.footer li a{
	font-family: 'gotham_extralightregular';
	color: #ebebeb;
}

.footer li{
	list-style: none;
	margin-top: 0.7em;
}

.footer ul{
	width: 100px;
	margin-left: -1em;
}

.footer p {
	font-family: 'gotham_extralightregular';
	color: #ebebeb;
	text-align: center;
}

.menus-footer{
	padding-top: 9%;
	width: 120px;
	margin: auto;
}

.signature{
	
	background: #202020;
	width: 100%;
}

.signature p{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	width: 180px;
	font-family: 'gotham_extralightregular';
	color: #ebebeb;

}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
